.main_title
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createlist
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0 0;
    box-sizing: border-box;
    padding: 1.6rem;
    border: 3px solid #f0a500;
}

.main_title input,textarea
{
    width: 100%;
    padding: 0.4rem;
    outline: none;
    margin: 0.4rem 0;
    border: none;
    text-align: center;
    border-bottom: 2px solid #f0a500;
}


.title:focus{
    outline: none;
}

#btn-add
{
    position: relative;
    bottom: -3.2rem;
    left:40%;
    color: white;
    background-color: #f0a500;
}