.main_title
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main_title form
{
    margin: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px black solid;
}

.main_title form input
{
    border: none;
}
.main_title form textarea
{
    border: none;
}